<!DOCTYPE html>
<html ng-app='popRepos'>
    <head>
        <meta charset='utf-8'>
        <title>Popular Repos</title>

        <meta name='description' content='Allow a user to input a username and see all GitHub repos for that user, in order of "popularity."'>
        <meta name='author' content='Samina Chhatwal'>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' type='text/css'>
        <link href='css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <h1>View a GitHub User's Most Popular Repositories!</h1>
        </header>

        <main ng-controller='ReposController as reposCtrl' ng-cloak>
            <form name='getRepos' ng-submit='reposCtrl.getRepos(reposCtrl.username)'>
                </div>
                    <label for='ghusername'>Github Username</label>
                    <input id='ghusername' type='text' placeholder='github username'
                                name='ghusername' ng-model='reposCtrl.username' required>
                </div>
            </form>

            <section>
                <p>{{reposCtrl.message}}</p>
            </section>

            <section ng-show='reposCtrl.allRepos.length'>
                <h3>Most Popular Repos for {{reposCtrl.username}}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Repo Name</th>
                            <th><button>Popularity Calc</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='repo in reposCtrl.allRepos'>
                            <td>{{repo.name}}</td>
                            <td>{{repo.popularity}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>



        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js'></script>
        <script src='app/main.js'></script>
    </body>
</html>
